@import url('https://fonts.googleapis.com/css?family=Poppins :300,400,500,600,700,800,960&display=swap'); 
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-famiLy: 'Poppins', sans-serif;
    scroll-behavior : smooth;
    cursor: url("assets/logo.png"), auto;
}
body { 
    min-height : 100vh; background : #2f0a45; overflow-x: hidden; overflow-y: scroll;
} 
header { 
    position : absolute; 
    top : 0; 
    Left : 0; 
    width : 100%; 
    padding : 30px 100px; 
    display : flex; 
    justify-content : space-between; 
    align-items : center;
    z-index: 10000;
}
header .logo::after{
    content:url('assets/logo.png');
    position: relative;    
    top:10px;
    right: -10px;
}

header .logo { color : #fff; font-weight : 700; text-decoration : none; font-size : 2em; text-transform : uppercase; Letter-spacing : 2px; } 
header ul { display : flex; justify-content : center; align-items : center;font-size: large;}
header ul li { List-style : none; margin-left : 20px; } 
header ul li a { text-decoration : none; padding : 6px 15px; color : #fff; border-radius: 20px;}
header ul li a:hover, 
header ul li a.active { background : #fff; color : #2b1055; }
section { position : relative; width : 100%; height : 100vh; padding : 100px; display: flex; justify-content: center; align-items: center;} 
section::before {
    font-famiLy: 'Poppins', sans-serif;
    content: '';
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#2f0a45,transparent);
    z-index: 100;
    
}

.sec ul {align-items : center;font-size: 2em;}
.sec ul li { List-style : none; margin-left : 100px;} 
.sec ul li a { text-decoration : underline; padding : 2px 55px; color : #fff; border-radius: 10px;background-color: #d44efd;}
.sec ul li a:hover, 
.sec ul li a.active { background : #fff; color : #2b1055; }
.underline {
    text-decoration: underline;
  }
section img { position : absolute; top : 0; Left : 0; width : 100%; height : 100%; object-fit: cover;pointer-events: none}


#text {
    position: absolute; color: #fff; white-space: nowrap; font-size: 3vw; z-index: 101;transform: translateY(-60px);
}

#text2 {
    position: absolute; color: #fff; white-space: nowrap; font-size: 2.5vw; z-index: 101;
}

#btn {
    text-decoration : none; padding : 8px 30px; border-radius : 40px; background : #fff; color : #4e77fd; font-size: 1.5vw;display: inline-block;z-index: 9;transform: translateY(70px);
}

#dl1 {
    text-decoration :overline; padding : 4px 15px; border-radius : 20px; background : #fefbb8; color : #879f4f; font-size: 1vw;display: inline-block;z-index: 9;transform: translateY(40px);
}

#dl2 {
    text-decoration :overline; padding : 4px 15px; border-radius : 20px; background : #e5ddd8; color : #d0766e; font-size: 1vw;display: inline-block;z-index: 9;transform: translateY(40px);
}


.sec {
    position: relative;
    padding: 100px;
    background: #2f0a45;

}

#status {
    position: relative;
    padding: 100px;
    background: #501472;

}

.sec h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #fff;
}
.sec p {
    font-size: 1.55em;
    color: #fff;
}